.welcPic{
    background-image: url(/public/img/welcome.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 980px;
}

h1.headerTitle{
    padding-top: 20px;
    font-size: 70px;
}

.userBox{
    border: solid 1px rgba(0, 0, 0, 0.161);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}