:root{
    --main-color: #240c6c83;
}

*{
    font-family: 'Rubik', sans-serif;
}

.welcPic{
    background-image: url(/public/img/picWelcome.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 900px;
}

h1.headerTitle{
    padding-top: 20px;
    font-size: 70px;
}

h2{
    font-size: 35px;
}

.userBox{
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.249);
    padding-block: 40px;
    padding-inline: 30px;
}